.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 170px;
}
.cartItem {
    width: 550px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.cartItems {
    width: 550px;
}
.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}
.totalAmount {
    margin-top: 50px;
}

.checkout button {
    padding: 0 50px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.09s ease;
    box-shadow:
        0px 1.6px 1.7px rgba(0, 0, 0, 0.031),
        0px 3.8px 3.9px rgba(0, 0, 0, 0.045),
        0px 6.9px 7.1px rgba(0, 0, 0, 0.055),
        0px 11.4px 11.7px rgba(0, 0, 0, 0.065),
        0px 18.8px 19.3px rgba(0, 0, 0, 0.075),
        0px 32.8px 33.8px rgba(0, 0, 0, 0.089),
        0px 71px 73px rgba(0, 0, 0, 0.12);
}
.checkout button:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.09s ease;
    color: black;
}


.countHandler {
    width: 345px;
    display: flex;
    justify-content: space-between;
}
input.product-count {
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    width: 250px;
    text-align: left;
    padding: 10px 20px;
}
button.product-count {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
    color: white;
    background-color: black;
    cursor: pointer;
}
.product-name {
    max-width: 200px;
}

input.user-data {
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px 0;
}

@media screen and (max-width:428px) {
    .cartItem {
        width: 85vw;
    }
    .cartItems {
        width: 85vw;
    }
    input.product-count {
        width: 18vw;
    }
    .countHandler {
        width: 42vw;
    }
}