.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}